.about-container{
  
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 10%;
   
    height:max-content;
 }
 .about-wrapper{
    
    
    bottom:0;
    text-align: center;
     
     width: 100vw; 
 }
 .about-title{
     font-family: 'Courier';
     font-size: 32px;
     color: rgb(28, 85, 241);
     text-align: center;
 }
 
 .about-text{
     font-family: 'Courier';
     font-size: 18px;
     color: rgb(51, 235, 66);
     font-weight: 900;
     text-align:center;
     
 }
 .about-text span,.about-fav span{
     font-family:'Courier';
     color: rgb(226, 62, 33);
     font-style: italic;
     font-weight: bold;
 }
 .about-fav{
     font-family: 'Courier';
     font-size: 18px;
     color: rgb(51, 235, 66);
     font-weight: 900;
     
 }