.about-container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

 }
 .cardBorder{
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    
  }
 .about-title{
     font-size: 32px;
     color: rgb(28, 85, 241);
     text-align: center;
 }
 
 .about-text{
     font-size: 18px;
     color: rgb(193, 201, 201);
     text-align:center;
     
 }
 .about-text span,.about-fav span{
     
     color: rgb(226, 62, 33);
     font-style: italic;
     font-weight: bold;
 }
 .about-fav{
     
     font-size: 18px;
     color: rgb(51, 235, 66);
     font-weight: 900;
     
 }
 .about-image{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px solid rgb(53, 91, 246);
 }