.content-container{
  text-align: center;
  padding: 0 48px;
}

.welcome-text {
  font-family:"Courier";
  font-size: 32px;
  color: #d8ec1e;
  margin-top: 20px;
}

.typer-text-start{
  color: rgb(235, 73, 51);
  size: 24px;
  font-family: 'Courier';
  margin-top: 20px;
}

.typer-text-end{
  color: rgb(27, 235, 44);
  size: 24px;
  font-family: 'Courier';
  margin-top: 20px;
}

@media screen and (max-width: 480px){

  typer-text-end{
    color: rgb(51, 235, 66);
    size: 15px;
    font-family: 'Courier';
  }

.welcome-text {
  font-family:"Courier";
  font-size: 20px;
  color:#d8ec1e;
}

.typer-text-start{
  color: rgb(235, 73, 51);
  size: 15px;
  font-family: 'Courier';
}
  
}