@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-6px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0);
  }
}
.navBar{
  background-color: #012E40;
}
.icon {
  animation: bounce 3s linear infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.navLink{
  margin-top: 5px;
}
.icons {
  animation: move 0.5s linear infinite;
}
.navLink a {
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0 1rem;
  margin-bottom: 2px;
  margin-right: 1.5rem;
  padding: 10px;
  white-space: nowrap;
}
.navLink a:hover {
  color: rgb(225, 242, 159);
  animation: bounce 1s ease-in;
}
.navLink1 {
  color: rgb(22, 193, 110);
}
.navLink2 {
  color: rgb(25, 123, 227);
}
.navLink3 {
  color: rgb(234, 143, 82);
}
.navLink4 {
  color: #e26bed;
}
.navLink7 {
  color: rgb(70, 207, 234);
}
.navLink5 {
  color: rgb(140, 231, 44);
}
.navLink6 {
  color: rgb(223, 126, 159);
}
.navLink1 {
  animation: navLink1 1s ease-in-out;
}
.navLink2 {
  animation: navLink2 1s ease-in-out;
}
.navLink3 {
  animation: navLink3 1s ease-in-out;
}
.navLink4 {
  animation: navLink4 1s ease-in-out;
}
.navLink5 {
  animation: navLink4 1s ease-in-out;
}
.navLink6 {
  animation: navLink6 1s ease-in-out;
}
.navLink7 {
  animation: navLink7 1s ease-in-out;
}

.navbar-toggler:focus{
  box-shadow: none;
  
}
.navbar-toggler{
  border:none
}
.navbar-toggler:focus .navbar-toggler-icon{
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>') !important;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  transition: all 0.5s ease-in-out;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  transition: all 0.5s ease-in-out;
}
