.side-bar {
    background:linear-gradient(to bottom,#2f3a38 , #3c4747);
    width: auto;
    min-height: 100vh;
    position: fixed;
    z-index: 1;
    top:0;
}

.sidebar-list{
    height: 100%;
    width: 100%;
    padding: 0;
    margin-top: 64px;
}

.sidebar-item{
    display: flex;
    height: 40px;
    width: 100%;
    text-decoration: none;
    align-self: flex-start;
    padding-top: 20px;
    margin-left: 20px;
    -webkit-tap-highlight-color: transparent;
}
.sidebar-icon{
    margin-right: 24px;
    font-size: 28px;
}
.sidebar-title{
    font-size: 18px;
    font-family:'Courier';
    color: rgb(51, 235, 66);
    font-weight:bold;
    text-align: center;
    padding-top: 6px;
    margin-right: 32px;
}