.flex-box{
    display:flex;
    flex-wrap:wrap;
    gap:0px;
    justify-content:space-evenly;
    align-items:center;
}
.skill-container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.homeBorder{
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }