.aboutyou-container{
    position: absolute;
    height:100vh;
    /* background:linear-gradient(to bottom,#1a1f1e , #131b1b) ; */
    background: black;
 }
 .aboutyou-wrapper{
    
     text-align: center;
     border-radius: 10px;
     margin: 72px 24px;
    
     
 }
 .aboutyou-title{
     font-family: 'Courier';
     font-size: 32px;
     color: rgb(28, 85, 241);
     text-align: center;
 }
 
 .aboutyou-text{
     font-family: 'Courier';
     font-size: 18px;
     color: rgb(51, 235, 66);
     font-weight: 900;
     text-align:left
 }
 .about-text span,.about-fav span{
     font-family:'Courier';
     color: rgb(226, 62, 33);
     font-style: italic;
     font-weight: bold;
 }
 .about-fav{
     font-family: 'Courier';
     font-size: 18px;
     color: rgb(51, 235, 66);
     font-weight: 900;
     text-align:center;
 }