.aboutyou-container{
    /* position: absolute;
    height:100vh;
    width: 100%;
    /* background:linear-gradient(to bottom,#1a1f1e , #131b1b) ; */
    /* 
    overflow:scroll;
    padding:20px 0px ; */ 
    
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    margin-top: 10%;
   
 }
 .aboutyou-wrapper{
    
     text-align: center;
     width:100vw;
     padding: 8px;
     min-height: 100vh;
 }
 .aboutyou-title{
     font-family: 'Courier';
     font-size: 32px;
     color: rgb(28, 85, 241);
     text-align: center;
 }
 
 .aboutyou-text{
     font-family: 'Courier';
     font-size: 18px;
     color: rgb(51, 235, 66);
     font-weight: 900;
     text-align:center;
 }
 .aboutyou-text span,.about-fav span{
     font-family:'Courier';
     color: rgb(226, 62, 33);
     font-style: italic;
     font-weight: bold;
 }
 .about-fav{
     font-family: 'Courier';
     font-size: 18px;
     color: rgb(51, 235, 66);
     font-weight: 900;
     text-align:center;
 }