
 .aboutyou-wrapper{
    
     text-align: center;
     width:100vw;
     padding: 8px;
     min-height: 100vh;
 }
 .aboutyou-title{
    
     font-size: 32px;
     color: rgb(28, 85, 241);
     text-align: center;
 }
 
 .aboutyou-text{
     font-size: 18px;
     color: rgb(90, 201, 207);
     text-align:center;
     border-radius: 5px;
     padding: 50px;
     margin: 10px;
    background-color: #024959;
    
 }
 .aboutyou-text span,.about-fav span{
    
     color: rgb(95, 127, 215);
     font-style: italic;
     font-weight: bold;
 }
 .about-fav{
     
     font-size: 18px;
     color: rgb(51, 235, 66);
     font-weight: 900;
     text-align:center;
 }