.menu-bar{
    width:32px;
    height: 5px;
    margin: 6px 0;
    background-color: rgb(140, 250, 89);
    border-radius: 2px;
    animation: menubar 3s linear infinite ;
}
.menu{
   padding-top: 18px;
   position:absolute;
   z-index: 3;
   margin: 4px 8px;
   top: 0;
  
}

@keyframes menubar {
    0%{background-color:greenyellow; }

    25%{background-color: red;}

    50%{background-color:rgb(144, 144, 185)}

    75%{background-color:red}

   
}

