.menu-bar{
    width:32px;
    height: 5px;
    margin: 6px 0;
    background-color: rgb(140, 250, 89);
    border-radius: 2px;
    animation: menubar 3s linear infinite ;
    
}
.menu{
   padding: 8px;
   position: fixed;
   z-index: 3;
}

@keyframes menubar {
    0%{width:32px;background-color:greenyellow };

    25%{width:40px;background-color: red;}

    50%{width:32px;background-color:rgb(36, 36, 233)};

    75%{width:40px;background-color:red};

   
}

