.menu-bar{
    width:32px;
    height: 5px;
    margin: 6px 0;
    background-color: rgb(140, 250, 89);
    border-radius: 2px;
    animation: menubar 3s linear infinite ;
    
}
.menu{
   padding-top: 18px;
   position: absolute;
   z-index: 3;
   padding-left: 18px;
}

@keyframes menubar {
    0%{width:32px;background-color:greenyellow }

    25%{width:40px;background-color: red;}

    50%{width:32px;background-color:rgb(144, 144, 185)}

    75%{width:40px;background-color:red}

   
}

