.App {
  text-align: center;
  background-image: linear-gradient(to bottom,#1d5552 , #83e1e2);
  min-height: 100vh;
}
.content-title{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(22, 18, 13);
  font-size: 32px;
}