
*{
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Bourton", sans-serif;
  letter-spacing: .2rem;
  
}
body{
  background-image: url(../src/assets/background.jpeg);
  height: 100%;
  position: relative;
  overflow: scroll;
}
html{
  height: 100%;
}
.partciles{
  background: url('https://particles.js.org/images/background3.jpg');
  background-position:cover;
}
.line{
  border: 0.2px solid #4c616e;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.homeContainer{
  padding-top: 80px;
}