
*{
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Bourton", sans-serif;
  letter-spacing: .2rem;
  
}
body{
  background-image: url(../src/assets/background.jpeg);
}

.partciles{
  background: url('https://particles.js.org/images/background3.jpg');
  background-position:cover;
}
