  .content-title{
    color:rgb(213, 215, 213);
    font-weight: 800;
    z-index: 999;
   
  }
  .nick-name{
    
    color:rgb(247, 73, 51);
    font-size: 32px;
    margin-top:4px;
    font-weight: 700;
  }
  .support-letter {
    color:rgb(233, 245, 67);
    font-size: 18px;
    margin:0;
  }
  .homeBackground{
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #024959;
    position: relative;
  }
  .content-subtitle{
    z-index: 5;
    font-weight: 700;
    color:rgb(213, 215, 213);
  }
  .homeBackground{
    /* //create a transparent background */
    background-color: rgba(0, 0, 0, 0.5);
    /* //make the background rounded */
    border-radius: 5px;

  }
  .subtitle-wrap{
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    /* //transaparent background */
    background-color: rgba(0, 0, 0, 0.3);

  }
  .homePage{
   position: relative; 
  }
  .homePage{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  }