.home-wrapper {
    text-align: center;
    padding:20px 0px ;
    width: 100vw; 
    
  }
  .content-title{
    
    color:rgb(51, 235, 66);
    font-size: 24px;
    margin-top: 24px;
    margin-bottom:2px;
    z-index: 5;
  }
  .nick-name{
    
    color:rgb(247, 73, 51);
    font-size: 32px;
    margin-top:4px;
    font-weight: 700;
  }
  .support-letter {
    
    color:rgb(233, 245, 67);
    font-size: 18px;
    margin:0;
  }
  .home-page{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: auto;
   min-height: 100vh;
   
  }