.lists{
    list-style-type: none;
    margin:20px;
    padding: 0%;
}
.list-items {
    display: inline-block;
    color: #ffff;
    margin: 0 10px;
    padding: 10px;
    transition: 0.4s ease-in-out;
   
    border-radius: 50%;
}

.list-items::before,
.list-items::after{
    background-color: #7bf17b;
    
}


.list-items:hover{
    background: #78d170;
    box-shadow: 0 0 5px #78d170,0 0 25px #78d170,0 0 25px #78d170,0 0 5px #78d170;
    transform: scale(1.1);
}