.lists{
    list-style-type: none;
    margin:20px;
    padding: 0%;
}
.list-items {
   
    display: inline-block;
    color: #ffff;
    margin: 0 10px;
    padding: 10px;
    transition: 0.4s ease-in-out;
    z-index: 1;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
}

.list-items::before,
.list-items::after{
    background-color: #7bf17b;
    z-index: -1;
}


.list-items:hover{
    background: #232323;
    box-shadow: 0 0 5px #1d1d1f,0 0 25px #212020,0 0 25px #171917,0 0 5px #0e110e;
    transform: scale(1.1);
}

.outlineIcon:hover{
    background-color: rgb(90, 224, 188);
}
.outlineIcon{
    border: 1.5px solid  rgb(90, 224, 188);
    border-radius: 50%;
    transition: 0.4s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    color: rgb(90, 224, 188);
}
.icon-container{
    z-index: 99;
    position: relative;
}
